body {
    box-sizing: border-box;
    background-color: #f4f3f8;
}
.container {
    background-color: whitesmoke;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    max-width: 1024px;
    width: 70%;
    font-family: 'Lato', serif;
    font-size: 16px;
}
.nav {
    background-color: #DCDCDC;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.link {
    float:left;
    color: #293133;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.link:hover {
    background-color: #4C514A;
    color: #DBD7D2;
}
.link_active {
    background-color: #696969;
    color: #D5D5D5;
}
.columns {
    display: flex;
    gap: 20px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px;
    gap: 10px;
    padding: 0 10px 0 10px;


}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 10px 0 10px;
    line-height: 20px;

}
.header {
    padding: 5px;
}
.header__img {
    box-shadow: 0 0 10px #7D7F7D;
    
}
.list {
    list-style-type: none;
    padding: 5px;
    line-height: 25px;
    
}
.list__link {
    text-decoration: none;
    color: #000;
}
.footer {
    display: flex;
    background-color: #5d6069;
    justify-content: space-around;
    align-items: center;
    color: #D5D5D5;
    box-sizing: border-box;
    flex-direction: row;
    height: 50px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
    gap: 10px;
}
.mygithub {
    text-decoration: none;
    color:#D5D5D5;
    display: flex;
    align-items: center;
}
.footer__to-top {
    color: #D5D5D5;
}